<section class="page-header" style="background: url('assets/img/siteName.png');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</section>

<body>
  <form role="search" id="form">
    <div class="wrapper">
      <div class="search_box">
        <div class="search_btn">
          <button (click)="onSubmit()" class="btn btn-black" type="submit"><i class="fas fa-search">Submit</i></button>
        </div>
        <input class="input_search" id="input_search" type="text" placeholder="Search Enrolment no. here .."
          autocomplete="off" autofocus title="search">
      </div>
    </div>

  </form>
</body>