@media print {
  body * {
    visibility: hidden; // part to hide at the time of print
    -webkit-print-color-adjust: exact !important; // not necessary use
  }

  body {
    background: #e0dbef;
  }
  .wrapper {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search_box {
    position: relative;
    padding: 15px;
    border-radius: 50px;
    display: flex;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 15%);
  }
  .search_box .search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    outline: none;
    border: 0px !important;
  }
  .search_box .input_search {
    outline: none;
    border: 1px solid #999;
    background: none;
    color: #000;
    padding: 15px 20px;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    padding-right: 55px;
  }
  .page-header {
    height: 550px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
  }
  .search-btn {
    outline: none;
    border-left: 1px solid #ccc;
    border-radius: 0px;
    height: 50px;
  }

  .admit-card-details {
    text-align: center;
    padding: 30px 0px;
    width: 55%;
    margin: 0 auto;
    border: 2px solid #000;
    margin-bottom: 40px;
    padding: 15px;
  }
  .admit-card-header {
    img {
      max-width: 100%;
    }
    h2 {
      margin-top: 15px;
      margin-bottom: 30px;
      span {
        background: #000;
        color: #fff;
        font-size: 25px;
        padding: 8px;
        border-radius: 5px;
      }
    }
  }
  .responsive-table {
    max-width: 100%;
    margin-bottom: 20px;
    table {
      width: 100%;
      th,
      td {
        padding: 10px;
      }
    }
    .border-table {
      border: 1px solid #000;
      tr,
      td,
      th {
        border: 1px solid #000;
      }
    }
    .st-personal-details {
      th {
        text-align: left;
      }
      td {
        text-align: left;
      }
    }
    .st-subjects {
      border: 1px solid #000;
      th {
        border: 1px solid #000;
      }
      td {
        border-right: 1px solid #000;
      }
    }
  }
  .note {
    p {
      b {
        font-weight: 16px;
      }
    }
  }

  .user {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .no-result-found p {
    margin: 20px 0px;
    text-align: center;
    color: rgb(138, 52, 52);
  }
}
