.top-hader{
  padding: 10px 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo{
    display: block;
    width: 120px;
    img{
      display: block;
    }
  }
  .navigation-items{
    margin: 0;
    height: 100%;
  }
  .menu-button{
    display: none;
  }
}
.navigation-block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .logo{
    width: 10%;
  }
  .navigation{
    width: 90%;
  }
  .nav-link{
    font-size: 16px;
    color: #F77412;
    letter-spacing: .5px;
  }
  .nav-link:hover{
    color: #f18939;
  }
}
@media all and (max-width: 767px){
  .top-hader{
    .logo{
      width: 30%;
      img{
      }
    }
    .navigation-items{
      display: none;
    }
    .menu-button{
      display: block;
      position: absolute;
      top: 0px;
      right: 15px;
    }
  }
}