<mat-toolbar color="custom">
  <div class="top-bar-area bg-dark text-light inline inc-border">
    <div class="container">
        <div class="row align-center">
            
            <div class="col-lg-7 col-md-12 left-info">
                <div class="item-flex">
                    <ul class="list">
                        <li>
                            <i class="fas fa-phone"></i> Have any question? +91 93061 94139
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-5 col-md-12 right-info">
                <div class="item-flex">
                    <div class="social">
                        <ul>
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="button">
                        <a href="#">Register</a>
                        <a href="#"><i class="fa fa-sign-in-alt"></i>Login</a>
                    </div> -->
                </div>
            </div>

        </div>
    </div>
</div>
  <div class="container">
    <div class="row">
        <div class="show-mobile">
          <button mat-icon-button (click)="onToggleSidenav()">
              <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="col-md-3">
          <a routerLink="/home"><img src="assets/img/logonew.jpg" class="img-responsive logo"></a>
        </div>
        <div class="col-md-9">
          <div class="hide-mobile">
              <ul class="navigation-items">
                <li><button mat-button routerLink="/home">Home</button></li>
                <li><button mat-button routerLink="/about">About</button></li>
                <li><button mat-button routerLink="/result">Result</button></li>
                <li>
                  <button mat-button [matMenuTriggerFor]="belowMenu">Courses</button>
                  <mat-menu #belowMenu="matMenu" yPosition="below">
                      <button mat-menu-item>Course 1</button>
                      <button mat-menu-item>Course 2</button>
                    </mat-menu>
                </li>
                <li><button mat-button routerLink="/contact">Contact</button></li>
                  <li>
                    <!-- <button mat-button [matMenuTriggerFor]="belowMenu">About</button> -->
                    <!-- <mat-menu #belowMenu="matMenu" yPosition="below">
                      <button mat-menu-item>Item 1</button>
                      <button mat-menu-item>Item 2</button>
                    </mat-menu> -->
                  </li>
              </ul>
          </div>
        </div>
    </div>
  </div>
</mat-toolbar>
