<app-banner banner="assets/img/siteName.png"></app-banner>

<!-- <section class="page-header" style="background: url('assets/img/siteName.png');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</section> -->

<div class="about-section">
  <h1>About Us</h1>
  <p>
    Sardar VallabhBhai Patel Institute of Technology & Management was established to promote the quality in the
    Technical & Management Courses. The council conducts the examinations, issues Diploma/Post Diploma certificates &
    registration to pass out candidates. The Council Affiliate the institution & issues guidelines itself to regulate
    the Technology & Management courses.</p>
  <p>
    Sardar VallabhBhai Patel Institute of Technology & Management providing quality education to Technical personnel
    since 2011.
  </p>
  <p>
    Sardar VallabhBhai Patel Institute of Technology & Management has been legally established by educationists & social
    workers and aim of the council is to provide better technical and skilled-based education for the communities.
    Council has running and management dynamic Technical Management education programs across the Country under the
    guidelines of MHRD.
  </p>
  <p>
    Sardar VallabhBhai Patel Institute of Technology & Management has launched 121 more than Technical Education Related
    Courses to start through Training system and distance education covering the practical and theory in indicated
    centers across the country.
  </p>
</div>

<div class="our-mission">
  <h1>OUR MISSION
  </h1>
  <p>
    Our mission is to provide a safe and supportive learning environment with opportunities for each student to develop
    the technical skills & knowledge to become a social, responsible and successful citizen of India.
  </p>
</div>

<div class="our-values">
  <h1>VISION & VALUES
  </h1>
  <p>
    Creation of Human Resource pool with the spectrum of technical competencies, while ensuring universal access to
    serve as an instrument of bringing about technological transformation.
  </p>
</div>

<h2 style="text-align:center">Top Pick Courses</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/img/background2.jpeg" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Mechanical Engineering</h2>
        <p>ITI/Diploma/Engineering</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/img/background3.jpeg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Automobile Engineerings</h2>
        <p>ITI/Diploma/Engineering</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/img/background5.jpeg" alt="John" style="width:100%">
      <div class="container">
        <h2>Airchtecture Engineering</h2>
        <p>ITI/Diploma/Engineering</p>
      </div>
    </div>
  </div>
</div>