.page-header {
    height: 300px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}
ul {
    list-style-type: none;
    margin: 0;
    background: #d4dae0;
    padding: 20px;
    text-align: center;
}
.container-list {
    background: #efeaea;
    padding: 20px;
}
li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
}
h2{
    text-align: center;
}
