#page-banner {
    width: 100%;
    height: 320px;
    background-color: #ffffff;
    background: url('../../../assets/images//bg-page-header.jpeg') no-repeat;
    h1 {
        margin: 0 0 10px 0;
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        color: #3B3667;
        font-family: "Cabin";
        letter-spacing: .2px;
    }
    p{
        font-size: 16px;
        line-height: 25px;
    }
}
p {
    color: #3B3667;
}
.align-items-center {
    align-items: center;
}
.d-flex {
    display: flex;
}
.banner-section {
    position: relative;
    width: 100%;
    padding-bottom: 0px;
    text-align: center;
}
@media (max-width:768px){
    #page-banner{
        height: 100%;
    }
}