.result-form{
    display: block;
    margin: 50px 0px;
}
.form-btn-block{
    margin: 20px 0px;
}
.page-header{
      height: 300px ;
      background-repeat: no-repeat !important;
      background-position: center center !important;
}
.page-title{
    text-align: center;
    color: orange;
}