<footer class="bg-dark text-light">
    <div class="container">
        <div class="f-items default-padding">
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="f-item about">
                        <img src="assets/img/logonew.jpg" alt="Logo">
                        <p>
                            SVBPI is all about you Need.                   
                        </p>
                        <!-- <p class="text-italic">
                            Please write your email and get our amazing updates, news and support*
                        </p> 
                         <div class="subscribe">
                            <form action="#">
                                <input type="email" placeholder="Enter your e-mail here" class="form-control" name="email">
                                <button type="submit"><i class="fa fa-paper-plane"></i></button>  
                            </form>
                        </div> -->
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title">Usefull Links</h4>
                        <ul>
                            <li>
                                <a href="#">Courses</a>
                            </li>
                            <li>
                                <a href="#">Results</a>
                            </li>
                            <li>
                                <a href="#">About US</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item">
                    <div class="f-item contact">
                        <h4 class="widget-title">Contact Info</h4>
                        <div class="address">
                            <ul>
                                <li>
                                    <strong>Email:</strong> info@svbpi.co.in
                                </li>
                                <!-- <li>
                                    <strong>Contact:</strong> +91 93061 94139
                                </li> -->
                            </ul>
                        </div>
                        <div class="opening-info">
                            <h5>Opening Hours</h5>
                            <ul>
                                <li>
                                    <span>Monday - Sunday</span>
                                    <span>8.00 am - 10.00 pm</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p>© Copyright 2022. All Rights Reserved by SVBPI</p>
                </div>
                <div class="col-lg-6 text-right link">
                    <!-- <ul>
                        <li>
                            <a href="#">Terms</a>
                        </li>
                        <li>
                            <a href="#">Privacy</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->
</footer>